body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: hsla(120deg, 0%, 90%, .5);
  background: linear-gradient(to left, #3f87a6, #ebf8e1, #ab3);
  ;
}

h1 {
  border-radius: 5px;
  background-color: hsla(200deg, 50%, 60%, 0.8);
  text-align: center;
  position: relative;
  top: 50%;


}


.conteiner {
  width: 200px;
  height: 120px;
  background-color: hsla(120deg, 50%, 60%, .8);
  border-radius: 5% 5% 10em 10em;
  margin-top: 10px;
  width: auto;

}

.header {
  border-radius: 5px 10px 1em .5em;
  border: 10px double hsla(250deg, 50%, 0%, .8);
  max-height: 200px;
  background-color: hsla(40deg, 50%, 60%, .8);
}