body {
  margin: 0;
  padding: 0;
  background: url(assets/pexels-joão-jesus-921294.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
}

svg {
  margin-top: auto;
}

.div_header--flex {
  display: flex;
  justify-content: center;
}

.header {
  height: 4rem;
  background-color: dodgerblue;
}

.header_link {
  color: #fff;
  margin-right: 1.5rem;
  line-height: 4rem;
  text-decoration: none;
  font-weight: bold;
  transform: rotatez(0deg);
  transition: all 0.5s;
}

.header_link:hover {
  /* border-top: #fff 3px solid; */
  transform: rotatez(5deg);
  text-decoration: underline 4px white;
}

.container {
  max-width: 100%;
  height: 1500px;
}

#flex-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.languages {
  margin-top: -800px;
  text-align: center;
  font-size: 3rem;
  transition: all 0.5s;
}

.card {
  margin-top: -200px;
  position: relative;
  width: 400px;
  height: 400px;
  margin-left: 1rem;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20%;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0px 5px 10px black, 0px 5px 10px black;
  transition: 0.5s;
}

.card-front {
  display: flex;
  transform: perspective(600px) rotateY(0deg);
  background-color: dodgerblue;
}

.card-front img {
  position: absolute;
  width: 90%;
  height: 90%;
  object-fit: fill;
  align-self: center;
  justify-self: end;
}

.card-front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: hsla(200, 80%, 0%, 0.5);
  text-align: center;
  color: antiquewhite;
}

.card-back {
  transform: perspective(600px) rotateY(180deg);
  background-color: hsla(250, 100%, 60%, 1);
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card-back h3 {
  border-bottom: 1px solid;
}

.card-back p {
  margin-bottom: 150px;
  font-size: 1.5rem;
}

.card:hover .card-front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .card-back {
  transform: perspective(600px) rotateY(360deg);
}

/* ABOUT ME */

.personal_card {
  display: flex;
  justify-self: flex-start;
  background-color: dodgerblue;
  margin-top: -100px;
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
  bottom: 1rem;
  width: 300px;
  height: 400px;
  transition: all 0.8s;
  box-shadow: 0px 5px 10px black, 0px 5px 10px black;
}

.personal_card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  align-self: center;
  justify-self: end;
}

.personal_card h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: hsla(200, 80%, 0%, 0.5);
  text-align: center;
  color: antiquewhite;
}

.grid-container {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.personal-info {
  height: 100vh;
}
#personal-info-paragraph {
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 10px;
  padding: 1rem 1rem;
  font-size: 24px;
  font-weight: bold;
  color: #f0f0f0;
  margin: 3rem auto;
  width: 1000px;
  justify-items: center;
}

.container-contact {
  display: grid;
  background-color: rgba(50, 50, 50, 0.5);
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  padding: 0 1rem;
  margin: -40px auto;
  border-radius: 10px;
  justify-items: center;
  align-content: center;
  height: 200px;
  width: 1000px;
}
.container-contact a img {
  grid-row: 2/3;
  width: 100px;
  height: 100px;
}
.container-contact h2 {
  grid-row: 1/2;
  grid-column: 1/4;
  font-size: 3rem;
  text-align: center;
}

#portafolio-proyectos {
  text-align: center;
  font-size: 3rem;
  color: black;
}
.portafolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 5px;
}
.container-proyecto {
  margin: 1rem;
  width: 350px;
  height: 250px;
  text-align: center;
}
.container-proyecto-2 {
  margin: 1rem;
  width: 350px;
  height: 250px;
  text-align: center;
}
.container-proyecto h3 {
  position: absolute;
  margin: 0 auto;
  justify-content: center;
  bottom: -70%;
  width: 350px;
  height: 45px;
  line-height: 45px;
  color: #f0f0f0;
  background-color: rgba(200, 200, 200, 0.7);
}
.container-proyecto-2 h3 {
  position: absolute;
  margin: 0 auto;
  justify-content: center;
  bottom: -120%;
  width: 350px;
  height: 45px;
  line-height: 45px;
  color: #f0f0f0;
  background-color: rgba(200, 200, 200, 0.7);
}
.proyecto img {
  width: 350px;
  height: 250px;
  background-color: rgba(100, 150, 150, 0.2);
  justify-content: center;
  align-items: center;
}
.proyecto img:hover {
  border-radius: 10px;
  transition: all 0.6s;
}
.container-proyecto:hover {
  border: #f0f0f0 3px solid;
  border-radius: 10px;
  transition: all 0.6s;
}
.container-proyecto-2:hover {
  border: #f0f0f0 3px solid;
  border-radius: 10px;
  transition: all 0.6s;
}
.container-contact a img:hover {
  border-radius: 50%;
  border: 3px solid #f0f0f0;
}
/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) */
@media (max-width: 480px) {
  body {
    background: url(assets/pexels-joão-jesus-921294.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .header {
    margin: 0 auto;
    width: 100%;
    font-size: 10px;
  }
  svg {
    position: absolute;
    bottom: 31%;
    width: 100%;
    height: 100%;
  }
  svg image {
    width: 100%;
    height: 100vh;
  }

  .languages {
    margin-top: -1250px;
    font-size: 2rem;
  }

  #flex-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin-top: 1rem;
    width: 200px;
    height: 300px;
  }
  .personal_card {
    margin: 3rem 0 0 0;
    width: 250px;
    height: 300px;
  }
  .portafolio {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    width: 100%;
    height: 215vh;
    margin: 0;
    padding: 0;
  }
  #personal-info-paragraph {
    width: 80%;
  }
  .container-contact {
    width: 80%;
  }
  #personal-info-paragraph {
    font-size: 16px;
  }
  .container-contact a img {
    width: 40px;
    height: 40px;
  }
  .proyecto a img {
    width: 100%;
    height: 100%;
  }

  .container-proyecto {
    width: 90%;
    height: 80%;
    text-align: center;
  }

  .container-proyecto-2 {
    width: 90%;
    height: 80%;
    text-align: center;
  }
  .container-proyecto h3 {
    position: relative;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
    height: 45px;
    line-height: 45px;
    color: #f0f0f0;
    background-color: rgba(200, 200, 200, 0.7);
  }
  .container-proyecto-2 h3 {
    position: relative;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
    height: 45px;
    line-height: 45px;
    color: #f0f0f0;
    background-color: rgba(200, 200, 200, 0.7);
  }
  .reloj-digital h3,
  .cronometro-js h3,
  .agenda-js h3,
  .viborita-js h3,
  .miwe-clothes h3,
  .blog-de-cafe h3 {
    bottom: 0;
    margin: 2% 0;
    width: 100%;
  }
  .container {
    margin: 0;
    height: 210vh;
  }
}
